body {
    margin: 0;
    background-color: lavender;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    color: azure;
}

.input-section {
    background-color: rgb(208, 208, 235);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #241f1f66;
}

.input-section input {
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    color: gray;
    box-sizing: border-box;
    background-color: rgb(208, 208, 235);
}

input::placeholder {
    color: gray;
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    list-style: none;
    background-color: rgb(208, 208, 235);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: gray;
    box-shadow: 0 4px 6px #00000066;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

li > div {
    display: flex;
    gap: 8px;
}

i {
    margin-left: auto;
    cursor: pointer;
}